-Xmx512m
-Xms512m
-Djava.awt.headless=true
-Dfile.encoding=UTF-8
-Dclient.encoding.override＝UTF-8
-Djava.net.preferIPv4Stack=true
-XX:+UseStringCache
-client
-XX:+HeapDumpOnOutOfMemoryError
-XX:-PrintClassHistogram
-XX:+PrintConcurrentLocks
-XX:+PrintCommandLineFlags
-XX:+PreserveFramePointer
-XX:-CMSClassUnloadingEnabled
-XX:+HeapDumpOnCtrlBreak
-XX:+HeapDumpOnOutOfMemoryError
-XX:MaxPermSize=512M
-XX:CMSInitiatingOccupancyFraction=90
-XX:MaxHeapFreeRatio=90
